<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false">
    <testsuites>
        <testsuite name="Omnipay Demo Suite">
            <directory>./demos/</directory>
        </testsuite>
        <testsuite name="Omnipay Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="DEMO_TERMINAL_ID" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"/>
        <env name="DEMO_SECRET" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"/>
        <env name="DEMO_MID" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"/>

        <env name="ACCOUNT_MID" value="######"/>
        <env name="ACCOUNT_USERNAME" value="username"/>
        <env name="ACCOUNT_USERNAME" value="password#n0l0gy2"/>
    </php>
</phpunit>
